<div id="recording-audioplayer" class="panel callout radius">
	<strong><%= @rec.cliptitle %></strong>
	<a class="play icon" title="Play" href="#"></a>
	<a class="stop icon" title="Stop" href="#"></a>

	<div id="wave"></div>
	<div id="wave-timeline"></div>
	<!-- <p><strong>Spectrogram</strong></p> -->
	<!-- <div id="wave-spectrogram"></div> -->
</div>

<script>

	var wavesurfer = Object.create(WaveSurfer);

	wavesurfer.init({
		container: '#wave',
		waveColor: 'violet',
		progressColor: 'purple',
		height: 75,
		normailize: true
	});

	wavesurfer.load('<%= "#{@rec.url_to_file(ssl: request.ssl?)}" %>');

	wavesurfer.on('ready', function () {
		// wavesurfer.play();

		var timeline = Object.create(WaveSurfer.Timeline);
		
		timeline.init({
		    wavesurfer: wavesurfer,
		    container: "#wave-timeline"
		});

		// var spectrogram = Object.create(WaveSurfer.Spectrogram);
		//
		// spectrogram.init({
		//     wavesurfer: wavesurfer,
		//     container: "#wave-spectrogram"
		// });
		
		$(function() {
			$(document).on('click', '#recording-audioplayer .play', function(){
				$('#recording-audioplayer .play').addClass("pause");
				$('#recording-audioplayer .play').removeClass("play");
			  wavesurfer.play();
			});

			$(document).on('click', '#recording-audioplayer .pause', function(){
				$('#recording-audioplayer .pause').addClass("play");
				$('#recording-audioplayer .pause').removeClass("pause");
			  wavesurfer.playPause();
			});

			$(document).on('click', '#recording-audioplayer .stop', function(){
				$('#recording-audioplayer .pause').addClass("play");
				$('#recording-audioplayer .pause').removeClass("pause");
			  wavesurfer.stop();
			});
		});
	
	});	
</script>