<div id="content">
  <h1>New Comment on "<%= @rec.cliptitle %>"</h1>
  <div class="content_container">
    <div class="standalone_comment_form">
      <%= render :partial => 'newaudioplayer', :object => @rec %>

      <%= form_for @comment, :html => { :multipart => true } do |f| %>
        <%= f.error_messages %>
        <p>
      		<%= f.text_area :body, :rows => 10, :id => 'new_comment' %>
      		<% if @parent %>
      		  <%= hidden_field_tag 'comment[parent_id]', @parent.id %>
      		<% end %>
      		<%= hidden_field_tag 'comment[student_id]', current_user.id %>
      		<%= hidden_field_tag 'comment[sessionrecording_id]', @rec.id %>
      		<%= hidden_field_tag 'comment[kind]', comment_kind(@rec.task) %><br/>
      		<%= f.file_field :audio %>
		<a class="timecode button secondary" href="javascript:void(0)" onclick="InsertTime(wavesurfer, new_comment);">Insert Current Timecode</a>
        <p>
          <%= f.submit "Save", :class => "button" %>
        </p>
      <% end %>

      <%= link_to 'Back', url_for( :controller => 'grouptasks', :action => 'show', :id => @rec.task, :show_comments_for => @rec.id ), :class => "button secondary" %>
    </div>
  </div>
</div>