<div class="medium-12 medium-centered large-8 large-centered columns">
  <div class="login-box">
    <div class="row" data-equalizer>
      <div class="large-7 columns" data-equalizer-watch>
				<%= image_tag 'logo.png', :id => 'logo', :class => 'centered' %>
			</div>
      <div class="large-5 columns" data-equalizer-watch>
				<p>
					<h1>Cornichon</h1>
				</p>
				<%= form_tag url_for(:controller => 'logins', :action => 'user_auth'), :method => 'post' %>
          <div class="row">
            <div class="large-12 columns">
              <input type="text" name="username" placeholder="Username" />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input type="password" name="password" placeholder="Password" />
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns">
              <input type="submit" class="button expand" value="Log In" />
            </div>
          </div>
					<% if flash[:notice] -%>
						<div id="notice"><p><%= flash[:notice] %></p></div>
					<% end -%>
        </form>
				<div id="login_copyright">
				  <%= render :partial => 'layouts/copyright' %>
				  <br/><br/>
				  "Pickle Delivery" image used courtesy of <%= link_to "Natalie Dee.com", "http://www.nataliedee.com" %>
				</div>
      </div>
    </div>
  </div>
</div>