<h1 class="centered">DiLL System Usage Statistics</h1>
<div id="useage_statistics">
	<div class="row">
		<div class="large-4 columns">
      <p>
        <span class="label">Task Totals by Instructor</span>
      	<%= user_tasks_totals %>
      </p>
		</div>
		<div class="large-8 columns">
      <p>
      	<span class="label">Number of Instructors Using DiLL in the Past <%= @days_ago %> Days</span>
				<%= @num_of_total_profs %>
      </p>
      <p>
      	<span class="label">Number of "Regular" Users ( 10 or more tasks per year )</span>
				<%= users_with_frequency(10) %>
      </p>
      <p>
      	<span class="label">Number of "Power" Users ( 20 or more tasks per year )</span>
				<%= users_with_frequency(20) %>
      </p>
      <p>
				<div class="row">
					<div class="large-6 columns">
		      	<span class="label">Synchronous VS Asynchronous Tasks</span>
						<canvas class="chart" id="sync-vs-async-chart" width="200" height="200"></canvas>
						<script>
							var data = [
							    {
							        value: <%= @sync_tasks %>,
							        color:"#F7464A",
							        highlight: "#FF5A5E",
							        label: "Synchronous Tasks"
							    },
							    {
							        value: <%= @async_tasks %>,
							        color: "#46BFBD",
							        highlight: "#5AD3D1",
							        label: "Asynchronous Tasks"
							    }
							];
							var ctx = document.getElementById("sync-vs-async-chart").getContext("2d");
							var syncChart = new Chart(ctx).Doughnut(data);
						</script>
					</div>
					<div class="large-6 columns">
		      	<span class="label">Lesson-Based VS Non-Lesson Tasks</span>
						<canvas class="chart" id="lesson-vs-non-chart" width="200" height="200"></canvas>
						<script>
							var data = [
							    {
							        value: <%= @lesson_tasks %>,
							        color:"#F7464A",
							        highlight: "#FF5A5E",
							        label: "Synchronous Tasks"
							    },
							    {
							        value: <%= @nonlesson_tasks %>,
							        color: "#46BFBD",
							        highlight: "#5AD3D1",
							        label: "Asynchronous Tasks"
							    }
							];
							var ctx = document.getElementById("lesson-vs-non-chart").getContext("2d");
							var syncChart = new Chart(ctx).Doughnut(data);
						</script>
					</div>
				</div>
      </p>
		</div>
	</div>
</div>
