<div class="comment_form">
	<label>Leave a new text comment (or an <%= link_to 'audio comment', url_for(:controller => 'comments', :action => 'new', :rec => rec) %>)</label>
	<%= form_tag url_for(:controller => 'grouptasks', :action => 'create_comment' ), method: :post, remote: true do %>
		<%= text_area_tag 'comment[body]', nil, :cols => 40, :rows => 10, :id => 'new_comment' %>
		<%= hidden_field_tag 'comment[student_id]', current_user.id %>
		<%= hidden_field_tag 'comment[sessionrecording_id]', rec.id %>
		<%= hidden_field_tag 'comment[kind]', comment_kind(task) %><br/>
		<%= submit_tag 'Submit', :class => 'button small' %>
		<a class="timecode button secondary small" href="javascript:void(0)" onclick="InsertTime(wavesurfer, new_comment);">Insert Current Timecode</a>
	<% end %>
</div>