<div id="comment_<%= comment.id %>" class="<%= cycle("comment_even", "comment_odd", :name => 'comment_cycle') %>">
	<div class="comment">
		<span class="comment_datetime">
		  <%# date formatting in /initializers/time_formats.rb %>
		  <%= comment.created_at.to_s(:comment_timestamp) %>
		</span>
		<span class="comment_author_text"><%= "#{comment.student.firstname} #{comment.student.lastname}" %> says:</span>
		<span class="comment_text_<%= comment.kind %>">
			<%= change_timecodes_to_links(comment) %>
		</span>
		<% if comment.audio? %>
		  <div id="comment_<%= comment.id %>_audio" class="comment_audio">
		    <%= link_to 'Click to play audio', comment.audio.url %>
		  </div>
		  <script language="JavaScript" type="text/javascript">
		  // 	  			QT_ReplaceElementContents_XHTML( document.getElementById("comment_<%= comment.id %>_audio"),
		  // 	  											 '<%= "#{comment.audio.url}" %>', '100', '16', '',
		  // 	  					 						 'autoplay', 'false',
		  // 	  											 'showlogo', 'false',
		  // 	  					 						 'kioskmode', 'true',
		  // 	  											 'align', 'middle',
		  // 	  											 'EnableJavaScript', 'False',
		  // 	  											 'postdomevents', 'false',
		  // 	  											 'emb#NAME' , '' ,
		  // 	  											 'obj#id' , '',
		  // 	  											 'emb#id', ''
		  // 	  											);
		  </script>
		<% end %>
		<p class="comment_actions">
		  <%= reply_to_comment(comment) %> | <%= audio_reply(comment) %>
	  	<% if comment.student == current_user %>
	  		 | <%= comment_delete_if_auth(comment) %> | <%= comment_edit_if_auth(comment) %>
	  	<% end %>
		</p>
	</div>
	<div id="comment_<%= comment.id %>_children" class="comment_children">
	  <%= render :partial => 'comment', :collection => comment.children %>
	</div>
</div>