<div id="comment_<%= comment.id %>_update_form" class="comment_form">
	<%= form_tag url_for(:controller => 'grouptasks', :action => 'update_comment', :id => comment), method: :post, remote: true do %>
		<%= text_area_tag 'comment[body]', comment.body, :cols => 40, :rows => 10, :id => "form_#{comment.id}"  %>
		<%= submit_tag 'Submit', :class => 'button small' %>
		<%= link_to 'Cancel', url_for(:controller => 'grouptasks', :action => 'cancel_comment_edit', :dom_id => "comment_#{comment.id}_update_form"), remote: true, :class => 'button secondary small' %>
		<a class="timecode button secondary small" href="javascript:void(0)" onclick="InsertTime(wavesurfer, reply_to_comment_<%= comment.id %>_form);">Insert Current Timecode</a>
		<%= hidden_field_tag 'comment[student_id]', current_user.id %>
		<%= hidden_field_tag 'comment[sessionrecording_id]', comment.sessionrecording_id %>
		<%= hidden_field_tag 'comment[kind]', comment.kind %>
	<% end %>
</div>