<div id="lesson-audioplayer" class="panel callout radius">
	<strong>Lesson/Model Audio: <%= @task.lesson.lessonname %></strong>
	<span class="play button radius"></span>
	<span class="stop button radius"></span>
	<div id="wave-model"></div>
	<div id="wave-timeline-model"></div>
	<!-- <div id="wave-spectrogram"></div> -->
</div>

<script>
	$('#lesson-audioplayer .play').click(function() {
		$('#lesson-audioplayer .play').toggleClass("pause");
	  wavesurferModelAudio.playPause();
	});
	
	$('#lesson-audioplayer .stop').click(function() {
		$('#lesson-audioplayer .play').toggleClass("pause", false);
	  wavesurferModelAudio.stop();
	});
	
	var wavesurferModelAudio = Object.create(WaveSurfer);

	wavesurferModelAudio.init({
		container: '#wave-model',
		waveColor: 'violet',
		progressColor: 'purple',
		height: 75,
		normailize: true
	});

	wavesurferModelAudio.load('<%= "#{@task.lesson.url_to_file(ssl: request.ssl?)}" %>');

	wavesurferModelAudio.on('ready', function () {
		// wavesurferModelAudio.play();

		var timelineModelAudio = Object.create(WaveSurfer.Timeline);
		
		timelineModelAudio.init({
		    wavesurfer: wavesurferModelAudio,
		    container: "#wave-timeline-model"
		});

		// var spectrogram = Object.create(WaveSurfer.Spectrogram);
		//
		// spectrogram.init({
		//     wavesurfer: wavesurfer,
		//     container: "#wave-spectrogram"
		// });

	});	
</script>