<div class="content_container">
	<h2>Your Instructor Tasks</h2>
	<div id="instructor_tasks" class="tasks_list">
		<ul class="no-bullet">
		<% for task in @current_user_proftasks %>
		  <li class="task_link">
				<%= link_to task.taskname, :controller => "grouptasks", :action => "show", :id => "#{task.id}" %><small class="taskdate"><%= task.creationdate.strftime("%d/%m/%Y") %></small>
			</li>
		<% end %>
	</ul>
	</div>
</div>
