<div id="reply_to_comment_<%= parent.id %>_form" class="comment_reply_form">
	Reply to this comment:
	<%= form_for(:comment, url: url_for(:controller => 'grouptasks', :action => 'create_comment_reply'), method: :post, remote: true ) do %>
		<%= text_area_tag 'comment[body]', nil, :cols => 40, :rows => 10, :id => "new_reply_#{parent.id}_form" %>
		<%= submit_tag 'Submit', :class => 'button small' %>
		<%= link_to 'Cancel', url_for(:controller => 'grouptasks', :action => 'cancel_comment', :dom_id => "reply_to_comment_#{parent.id}_form"), remote: true, :class => 'button secondary small' %>
		<a class="timecode button secondary small" href="javascript:void(0)" onclick="InsertTime(wavesurfer, new_reply_<%= parent.id %>_form);">Insert Current Timecode</a>
		<%= hidden_field_tag 'comment[student_id]', current_user.id %>
		<%= hidden_field_tag 'comment[sessionrecording_id]', rec.id %>
		<%= hidden_field_tag 'comment[kind]', comment_kind(task) %><br/>
		<%= hidden_field_tag 'comment[parent_id]', parent.id %><br/>
	<% end %>
</div>