<div id="taskstudents">
	<% @task.students.each do |student| %>
		<%= link_to "#{student.lastname.capitalize}, #{student.firstname}", 
							:url => { :action => "load_comments_pane", 
							:id => @task, 
							:student => student.id}, 
							:remote => true %>
		<br/>
	<% end %>
</div>