<div class="content_container">
	<h2>Your Student Tasks</h2>
	<div id="student_tasks" class="tasks_list">
		<ul class="no-bullet">
		<% for task in @current_user_studenttasks %>
		  <li class="task_link">
			  <%= link_to(task.taskname, :controller => "grouptasks", :action => "show", :id => "#{task.id}") %>
			</li>
		<% end %>
	</ul>
	</div>
</div>
