<p>
  <h3>Notice</h3>
  <p>
    If there are no tasks displayed above, or if you do not see the task you are looking for, chances are the instructor has not enabled privileges for that task.
  </p>
</p>