<div class="medium-12 medium-centered large-8 large-centered columns">
    <div class="row">
			<% if @current_user_proftasks.length != 0 %>
		  	<%= render :partial => 'prof_tasks' %>
		  <% end %>
		  <%= render :partial => 'student_tasks' %>
		  <%= render :partial => 'tasks_notice' %>
		</div>
</div>