<% if @task.instructor == current_user || current_user.is_super_admin? %>
  window.location.href = '#';
  $('#comments').html("<%= escape_javascript(render(:partial => 'usercomments', locals: {rec: @rec})) %>");
<% else %>
  window.location.href = '#';
  $('#comments').html("<%= escape_javascript(render(:partial => 'usercomments', locals: {rec: @rec})) %>");
<% end %>