if ( !$(" #reply_to_comment_<%= @parent.id %>_form ").length ) {
	$(" #comment_<%= @parent.id %>_children ").before( "<%= escape_javascript(render( :partial => 'reply_form', :locals => {:parent => @parent, :rec => @recording, :task => @task})) %>" );	
}