<div class="medium-12 medium-centered large-10 large-centered columns">
  <div class="row" data-equalizer>
		<h1 class="centered"><%= @task.taskname %></h1>
		<div id="edit_perms" class="centered">
		  <%= edit_perms_link %>
		</div>
		<% if flash[:notice] -%>
			<div id="task_notice"><p><%= flash[:notice] %></p></div>
		<% end -%>
		<div id="task_content" class="">
			<div class="row" data-equalizer>
				<div class="large-5 columns" data-equalizer-watch>
			  	<%= render :partial => 'recordings' %>
				</div>
				<div class="large-7 columns" data-equalizer-watch>
					<% unless @task.lesson.blank? %>
						<%= render :partial => 'model_audioplayer', :object => @task %>
					<% end %>
					
			  	<%= render :partial => 'comments' %>
				</div>
			</div>
	  </div>
	</div>
</div>
<script>
	$('.recording_name').click(function() {
		if( typeof wavesurfer !== 'undefined' ) { 
			wavesurfer.pause();
		}
	});
</script>