<div class="medium-12 medium-centered large-8 large-centered columns">
  <h1>Edit Permissions</h1>
  <div class="content_container">
    <div class="permissions_form">
      <%= form_for(@permission) do |f| %>
        <%= f.error_messages %>
        
        <%= render :partial => 'instructions' %>

        <table id ="task-permissions-settings">
          <tr>
            <td class="field_title"><h3>View Privileges</h3></td>
            <td><%= f.select :viewable, Permission::ENTRY_VALUES %></td>
          </tr>
          <tr>
            <td class="field_title"><h3>Discussion/Commenting Privileges</h3></td>
            <td><%= f.select :discussionable, Permission::ENTRY_VALUES %></td>
          </tr>
          <tr>
            <td class="field_title"><h3>Downloading Privileges</h3></td>
            <td><%= f.select :downloadable, Permission::ENTRY_VALUES %></td>
          </tr>
          <tr>
            <td><%= link_to '&#8592; Back'.html_safe, url_for(:controller => 'grouptasks', :action => 'show', :id => @permission.grouptask), :class => 'button secondary' %></td>
            <td><%= f.submit 'Save', :class => 'button' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
