/* Icon Base Styles */

a.icon {
  background-color: #008CBA;
  border: 2px solid #007095;
  display: inline-block;
  position: relative;
  vertical-align: top;
	-webkit-box-sizing: initial;
	box-sizing: initial;
}
a.icon:after,
a.icon:before {
  background: white;
  border: 2px solid white;
  content: '';
  position: absolute;
}
a.icon:hover,
a.icon:hover:after,
a.icon:hover:before {
  background-color: #007095;
}

/* Play Icon */

a.play {
    border-radius: 10%;
    height: 26px;
    width: 26px;
}
a.play:after,
a.play:before,
a.play:hover:after,
a.play:hover:before {
    background: none;
}
a.play:after {
    border-bottom: 8px solid transparent;
    border-left: 13px solid white;
    border-right: 13px solid transparent;
    border-top: 8px solid transparent;
    height: 0;
    left: 8px;
    top: 5px;
    width: 0;
}
a.play:before {
    border: none;
}

/* Pause Icon */

a.pause {
    border-radius: 10%;
    height: 26px;
    width: 26px;
}
a.pause:after,
a.pause:before {
    height: 10px;
    top: 6px;
    width: 0;
}
a.pause:after {
    left: 7px;
}
a.pause:before {
    left: 15px;
}

/* Stop Icon */

a.stop {
    border-radius: 10%;
    height: 26px;
    width: 26px;
}
a.stop:after {
    background: white;
    height: 9px;
    left: 7px;
    top: 7px;
    width: 8px;
}
a.stop:hover:after {
    background: white;
}
a.stop:before {
    border: none;
}
