#logo { display: block; margin: 0 auto;}

.centered {
	text-align: center;
}

.login-box { margin-top: 25px; }
.login-box h1 { text-align: center; }

#login_copyright { font-size: .75em; }

.tasks_list li:nth-child(odd) { background: whitesmoke; }


.full-width {
  max-width: 1400px;
}

// Tasks List

.taskdate {
	float: right;
}

// Recordings List

#edit_perms {
	margin: 15px auto;
}

.recording_name::before {
	content: '\25b8 ';
	color: #008CBA;
}

#wave-spectrogram canvas {
	display: block;
	width: 100%;
}

// Task Permissions

#task-permissions-settings {
	width: 100%;
	margin: 0 auto;
}

// Statistics

span.label {
	width: 100%;
	text-align: center;
	font-size: 1em;
}

table {
  width:auto;
}

td, th {
  white-space:nowrap;
}

table td:first-child {
    width: 100%
}

canvas.chart {
	display: block;
	width: 90%;
	margin: 15px auto;
}

// Comment List CSS

.comment_even, .comment_odd {
	padding: 10px;
}

.comment_even {
	background: whitesmoke;
}

.comment_odd {
	background: white;
}

.comment_datetime {
	font-size: x-small;
}

.comment_author_text {
	display: block;
}

.comment_children {
	padding-left: 20px;
}

.comment_actions {
	visibility: hidden;
	font-size: small;
}

// footer CSS

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  i {
    font-size: 100px;
  }
}


.footer {
  h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 300; 
    font-size: .8rem;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
     min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .5rem;
  }
}
