<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
	    <h1><%= link_to 'Home', url_for( controller: 'grouptasks', action: 'index' ) %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
	    <li class="<%= current_page?(controller: 'statistics') ? "active" : nil %>"><%= link_to 'Usage Statistics', url_for( controller: 'statistics', days: 365) %></li>
      <li class="has-dropdown">
        <a href="#"><%= gravatar_tag "#{current_user.email}", :size => 30, :secure => true %> <%= current_user.firstname %> <%= current_user.lastname %></a>
        <ul class="dropdown">
					<li><%= link_to "Logout", url_for(:action => 'logout', :controller => 'logins') %></li>
			    <li><%= link_to 'Open Main DiLL Site', DILL_WEB_FULL_URL, :target => :blank %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>